doc/old/assets/nodered/nodered_flow_ow.json
[{"id":"f7cab217.9a1b1","type":"owfs","z":"e0c536fe.efe448","name":"","uncached":true,"mode":"read","host":"owserver","port":4304,"paths":[],"x":660,"y":60,"wires":[["c78b9c2a.bc8e1"]]},{"id":"21d4548f.2831ec","type":"inject","z":"e0c536fe.efe448","name":"Alle 5 Sekunden","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["419e8eec.3f3da"]]},{"id":"419e8eec.3f3da","type":"switch","z":"e0c536fe.efe448","name":"Smartmeter Hausanschluss","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":120,"wires":[["907b7124.a51cd","eefa9a91.5fe848","19a6d64f.84124a"]]},{"id":"907b7124.a51cd","type":"change","z":"e0c536fe.efe448","name":"Power In","rules":[{"t":"set","p":"topic","pt":"msg","to":"FC.534D001E55C7/910/userm","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"eingehend","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Stromverbrauch eingehend","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":60,"wires":[["f7cab217.9a1b1"]]},{"id":"c78b9c2a.bc8e1","type":"function","z":"e0c536fe.efe448","name":"/1000","func":"if (!isNaN(msg.payload)) {\n       msg.payload = msg.payload / 1000;\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["c4a6f94.2526f08"]]},{"id":"eefa9a91.5fe848","type":"change","z":"e0c536fe.efe448","name":"Power Out","rules":[{"t":"set","p":"topic","pt":"msg","to":"FC.534D001E55C7/910/usern","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"ausgehend","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Stromverbrauch ausgehend","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":120,"wires":[["f7cab217.9a1b1"]]},{"id":"19a6d64f.84124a","type":"change","z":"e0c536fe.efe448","name":"Power Current","rules":[{"t":"set","p":"topic","pt":"msg","to":"FC.534D001E55C7/910/usero","tot":"str"},{"t":"set","p":"name","pt":"msg","to":"momentanverbrauch","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Stromverbrauch momentan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["f7cab217.9a1b1"]]},{"id":"bd567cc6.ad008","type":"mqtt out","z":"e0c536fe.efe448","name":"","topic":"","qos":"","retain":"true","broker":"27180348.4ea07c","x":1050,"y":100,"wires":[]},{"id":"e0c9d86e.cbe728","type":"change","z":"e0c536fe.efe448","name":"Set mqtt topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"'1w/smartmeter/hausanschluss/strom/' & msg.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":100,"wires":[["bd567cc6.ad008"]]},{"id":"c4a6f94.2526f08","type":"template","z":"e0c536fe.efe448","name":"Transform payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"value\": {{{payload}}},\n  \"name\": \"{{{name}}}\",\n  \"title\": \"{{{title}}}\"\n}","output":"json","x":690,"y":180,"wires":[["e0c9d86e.cbe728"]]},{"id":"27180348.4ea07c","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
