doc/old/assets/nodered/nodered_flow_metrics.json
[{"id":"4cac6a34.cff674","type":"mqtt in","z":"bfb6bd10.a0126","name":"","topic":"1w/#","qos":"2","datatype":"json","broker":"27180348.4ea07c","x":90,"y":540,"wires":[["b83ccb46.4a5498"]]},{"id":"efacd734.16849","type":"delay","z":"bfb6bd10.a0126","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":540,"wires":[["f982db0f.8714"]]},{"id":"f982db0f.8714","type":"change","z":"bfb6bd10.a0126","name":"Set metric name","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"$lowercase($replace(msg.topic,/[^\\w]/,'_'))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":540,"wires":[["a264965e.4c3dc8"]]},{"id":"b83ccb46.4a5498","type":"switch","z":"bfb6bd10.a0126","name":"Not retained","property":"retain","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":620,"wires":[["efacd734.16849"]]},{"id":"a264965e.4c3dc8","type":"change","z":"bfb6bd10.a0126","name":"Set topic to metrics/${topic}","rules":[{"t":"set","p":"topic","pt":"msg","to":"'metrics/' & msg.topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["4620ea58.1df50c"]]},{"id":"4620ea58.1df50c","type":"json","z":"bfb6bd10.a0126","name":"","property":"payload","action":"","pretty":false,"x":810,"y":620,"wires":[["881f8a73.6a0d5"]]},{"id":"881f8a73.6a0d5","type":"mqtt out","z":"bfb6bd10.a0126","name":"","topic":"","qos":"","retain":"false","broker":"27180348.4ea07c","x":950,"y":620,"wires":[]},{"id":"27180348.4ea07c","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
